@import url("https://fonts.googleapis.com/css2?family=Kite+One&family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfaf6;
}

header {
  font-size: 1.7em;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  font-family: "Kite One", sans-serif;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-auto-rows: minmax(265px, auto);
}

.card {
  width: 300px;
  box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.37);
}

.card_color {
  background-color: #e4efe7;
  height: 80%;
}

.card_content {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-size: 18px;
}

.color_code {
  text-transform: uppercase;
}

.color_copy {
  cursor: pointer;
}
